body {
  min-height: 100vh;
  background-color: #141924;
  color: #fff;
}

.uploader-wrapper {
  margin: 5rem auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 90%;
}

.form-upload {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-upload__label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-upload__title {
  max-width: 400px;
  margin: 15px auto;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.form-upload__input {
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
}

.form-upload__input::file-selector-button {
  min-width: 190px;
  margin-right: 30px;
  padding: 9px 15px;
  border: none;
  border-radius: 6px;
  font-weight: inherit;
  font-family: inherit;
  cursor: pointer;
}

.form-upload__input,
.form-upload__submit,
progress,
.form-upload__container {
  width: 430px;
}

.form-upload__submit {
  display: block;
  margin-top: 25px;
  padding: 9px 15px;
  border: 2px solid transparent;
  border-radius: 6px;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  transition: background-color 0.2s linear;
}

.form-upload__submit:hover {
  background-color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.form-upload__submit:focus-visible,
.form-upload__submit:focus {
  border: 2px solid #ffffff;
  outline: none;
}

.form-upload__submit:disabled {
  border: 2px solid rgb(170, 170, 170);
  outline: none;
  background-color: rgb(170, 170, 170);
  transition: background-color 0.2s linear;
}

.form-upload__submit_purple {
  background-color: #C56FFF;
}

.form-upload__submit_blue {
  background-color: #35c3ff;
}

.form-upload__submit_green {
  background-color: #10C35AFF;
}

.form-container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 480px;
  font-size: 1.25rem;
  font-weight: 300;
  font-family: inherit;
  line-height: 1.2;
}

.nested-checkboxes {
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 10px;
  border-left: 2px solid #ccc;
}

progress {
  height: 5px;
  margin-top: 25px;
  border: none;
  background-color: #286C2D;
}

progress::-webkit-progress-bar {
  border: none;
  background-color: #286C2D;
}

progress::-webkit-progress-value {
  background-color: #41E847;
}

progress::-moz-progress-bar {
  border: none;
  background-color: #41E847;
}

#progressContainer {
  width: 430px;
  margin: 0 auto;
  /*align-content: center;*/
}

.form-upload__container {
  margin-top: 10px;
  font-size: 16px;
}

.form-upload__status:empty::before {
  content: "Не загружено";
}

/*button:disabled {*/
/*  opacity: 0.5;*/
/*  cursor: not-allowed;*/
/*}*/
